
#u10668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10669 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:304px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10670 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:304px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10671 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:304px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u10672 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:304px;
  width:122px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10673 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:304px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u10674 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:304px;
  width:105px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u10675 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:304px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u10676 {
  border-width:0px;
  position:absolute;
  left:1657px;
  top:304px;
  width:105px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u10677 {
  border-width:0px;
  position:absolute;
  left:1762px;
  top:304px;
  width:102px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
}
#u10678 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:304px;
  width:126px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u10679 {
  border-width:0px;
  position:absolute;
  left:1990px;
  top:304px;
  width:154px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:34px;
}
#u10680 {
  border-width:0px;
  position:absolute;
  left:2144px;
  top:304px;
  width:134px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u10681 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:304px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u10682 {
  border-width:0px;
  position:absolute;
  left:2386px;
  top:304px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10683 {
  border-width:0px;
  position:absolute;
  left:2494px;
  top:304px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10684 {
  border-width:0px;
  position:absolute;
  left:2598px;
  top:304px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10685 {
  border-width:0px;
  position:absolute;
  left:2702px;
  top:304px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10686 {
  border-width:0px;
  position:absolute;
  left:2806px;
  top:304px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10687 {
  border-width:0px;
  position:absolute;
  left:2910px;
  top:304px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10688 {
  border-width:0px;
  position:absolute;
  left:3014px;
  top:304px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u10689 {
  border-width:0px;
  position:absolute;
  left:3118px;
  top:304px;
  width:110px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10690 {
  border-width:0px;
  position:absolute;
  left:3228px;
  top:304px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u10691 {
  border-width:0px;
  position:absolute;
  left:3332px;
  top:304px;
  width:150px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
}
#u10692 {
  border-width:0px;
  position:absolute;
  left:3482px;
  top:304px;
  width:133px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u10693 {
  border-width:0px;
  position:absolute;
  left:3615px;
  top:304px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10694 {
  border-width:0px;
  position:absolute;
  left:3723px;
  top:304px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:34px;
}
#u10695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:338px;
  width:55px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:34px;
}
#u10696 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:338px;
  width:57px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u10697 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:338px;
  width:64px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:34px;
}
#u10698 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:338px;
  width:129px;
  height:34px;
  display:flex;
  font-size:10px;
  text-decoration:underline ;
  color:#169BD5;
}
#u10698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u10699 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:338px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
}
#u10700 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:338px;
  width:86px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10701 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:338px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10702 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:338px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10703 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:338px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10704 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:338px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10705 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:338px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10706 {
  border-width:0px;
  position:absolute;
  left:1082px;
  top:338px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u10707 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:338px;
  width:122px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#555555;
}
#u10707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u10708 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:338px;
  width:120px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u10709 {
  border-width:0px;
  position:absolute;
  left:1444px;
  top:338px;
  width:105px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u10710 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:338px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u10711 {
  border-width:0px;
  position:absolute;
  left:1657px;
  top:338px;
  width:105px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u10712 {
  border-width:0px;
  position:absolute;
  left:1762px;
  top:338px;
  width:102px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
}
#u10713 {
  border-width:0px;
  position:absolute;
  left:1864px;
  top:338px;
  width:126px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u10714 {
  border-width:0px;
  position:absolute;
  left:1990px;
  top:338px;
  width:154px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:34px;
}
#u10715 {
  border-width:0px;
  position:absolute;
  left:2144px;
  top:338px;
  width:134px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u10716 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:338px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u10717 {
  border-width:0px;
  position:absolute;
  left:2386px;
  top:338px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10718 {
  border-width:0px;
  position:absolute;
  left:2494px;
  top:338px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10719 {
  border-width:0px;
  position:absolute;
  left:2598px;
  top:338px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10720 {
  border-width:0px;
  position:absolute;
  left:2702px;
  top:338px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10721 {
  border-width:0px;
  position:absolute;
  left:2806px;
  top:338px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10722 {
  border-width:0px;
  position:absolute;
  left:2910px;
  top:338px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10723 {
  border-width:0px;
  position:absolute;
  left:3014px;
  top:338px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u10724 {
  border-width:0px;
  position:absolute;
  left:3118px;
  top:338px;
  width:110px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10725 {
  border-width:0px;
  position:absolute;
  left:3228px;
  top:338px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
}
#u10726 {
  border-width:0px;
  position:absolute;
  left:3332px;
  top:338px;
  width:150px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:34px;
}
#u10727 {
  border-width:0px;
  position:absolute;
  left:3482px;
  top:338px;
  width:133px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u10728 {
  border-width:0px;
  position:absolute;
  left:3615px;
  top:338px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u10729 {
  border-width:0px;
  position:absolute;
  left:3723px;
  top:338px;
  width:104px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u10729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10730 label {
  left:0px;
  width:100%;
}
#u10730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10730 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:9px;
  width:13px;
  height:16px;
  display:flex;
}
#u10730 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10730_img.selected {
}
#u10730.selected {
}
#u10730_img.disabled {
}
#u10730.disabled {
}
#u10730_img.selectedDisabled {
}
#u10730.selectedDisabled {
}
#u10730_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10730_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10731 label {
  left:0px;
  width:100%;
}
#u10731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10731 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:43px;
  width:13px;
  height:16px;
  display:flex;
}
#u10731 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10731_img.selected {
}
#u10731.selected {
}
#u10731_img.disabled {
}
#u10731.disabled {
}
#u10731_img.selectedDisabled {
}
#u10731.selectedDisabled {
}
#u10731_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10731_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10732 label {
  left:0px;
  width:100%;
}
#u10732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10732 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:78px;
  width:13px;
  height:16px;
  display:flex;
}
#u10732 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10732_img.selected {
}
#u10732.selected {
}
#u10732_img.disabled {
}
#u10732.disabled {
}
#u10732_img.selectedDisabled {
}
#u10732.selectedDisabled {
}
#u10732_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10732_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10733 label {
  left:0px;
  width:100%;
}
#u10733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10733 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:111px;
  width:13px;
  height:16px;
  display:flex;
}
#u10733 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10733_img.selected {
}
#u10733.selected {
}
#u10733_img.disabled {
}
#u10733.disabled {
}
#u10733_img.selectedDisabled {
}
#u10733.selectedDisabled {
}
#u10733_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10733_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10734 label {
  left:0px;
  width:100%;
}
#u10734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10734 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:145px;
  width:13px;
  height:16px;
  display:flex;
}
#u10734 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10734_img.selected {
}
#u10734.selected {
}
#u10734_img.disabled {
}
#u10734.disabled {
}
#u10734_img.selectedDisabled {
}
#u10734.selectedDisabled {
}
#u10734_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10734_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10735 label {
  left:0px;
  width:100%;
}
#u10735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10735 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:178px;
  width:13px;
  height:16px;
  display:flex;
}
#u10735 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10735_img.selected {
}
#u10735.selected {
}
#u10735_img.disabled {
}
#u10735.disabled {
}
#u10735_img.selectedDisabled {
}
#u10735.selectedDisabled {
}
#u10735_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10735_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10736 label {
  left:0px;
  width:100%;
}
#u10736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10736 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:214px;
  width:13px;
  height:16px;
  display:flex;
}
#u10736 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10736_img.selected {
}
#u10736.selected {
}
#u10736_img.disabled {
}
#u10736.disabled {
}
#u10736_img.selectedDisabled {
}
#u10736.selectedDisabled {
}
#u10736_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10736_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10737 label {
  left:0px;
  width:100%;
}
#u10737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10737 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:249px;
  width:13px;
  height:16px;
  display:flex;
}
#u10737 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10737_img.selected {
}
#u10737.selected {
}
#u10737_img.disabled {
}
#u10737.disabled {
}
#u10737_img.selectedDisabled {
}
#u10737.selectedDisabled {
}
#u10737_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10737_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10738 label {
  left:0px;
  width:100%;
}
#u10738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10738 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:282px;
  width:13px;
  height:16px;
  display:flex;
}
#u10738 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10738_img.selected {
}
#u10738.selected {
}
#u10738_img.disabled {
}
#u10738.disabled {
}
#u10738_img.selectedDisabled {
}
#u10738.selectedDisabled {
}
#u10738_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10738_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10739 label {
  left:0px;
  width:100%;
}
#u10739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10739 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:316px;
  width:13px;
  height:16px;
  display:flex;
}
#u10739 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10739_img.selected {
}
#u10739.selected {
}
#u10739_img.disabled {
}
#u10739.disabled {
}
#u10739_img.selectedDisabled {
}
#u10739.selectedDisabled {
}
#u10739_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10739_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10740 label {
  left:0px;
  width:100%;
}
#u10740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10740 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:349px;
  width:13px;
  height:16px;
  display:flex;
}
#u10740 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u10740_img.selected {
}
#u10740.selected {
}
#u10740_img.disabled {
}
#u10740.disabled {
}
#u10740_img.selectedDisabled {
}
#u10740.selectedDisabled {
}
#u10740_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10740_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u10741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10741 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:372px;
  width:53px;
  height:30px;
  display:flex;
}
#u10741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2651px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10742 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:372px;
  width:2651px;
  height:30px;
  display:flex;
}
#u10742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10743 {
  border-width:0px;
  position:absolute;
  left:2703px;
  top:372px;
  width:103px;
  height:30px;
  display:flex;
}
#u10743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10744 {
  border-width:0px;
  position:absolute;
  left:2806px;
  top:372px;
  width:103px;
  height:30px;
  display:flex;
}
#u10744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10745 {
  border-width:0px;
  position:absolute;
  left:2909px;
  top:372px;
  width:107px;
  height:30px;
  display:flex;
}
#u10745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10746 {
  border-width:0px;
  position:absolute;
  left:3016px;
  top:372px;
  width:103px;
  height:30px;
  display:flex;
}
#u10746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10747 {
  border-width:0px;
  position:absolute;
  left:3119px;
  top:372px;
  width:108px;
  height:30px;
  display:flex;
}
#u10747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10748 {
  border-width:0px;
  position:absolute;
  left:3227px;
  top:372px;
  width:106px;
  height:30px;
  display:flex;
}
#u10748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10749 {
  border-width:0px;
  position:absolute;
  left:3333px;
  top:372px;
  width:151px;
  height:30px;
  display:flex;
}
#u10749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10750 {
  border-width:0px;
  position:absolute;
  left:3484px;
  top:372px;
  width:132px;
  height:30px;
  display:flex;
}
#u10750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.501960784313725);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10751 {
  border-width:0px;
  position:absolute;
  left:3616px;
  top:372px;
  width:211px;
  height:30px;
  display:flex;
}
#u10751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10752 {
  position:absolute;
  left:15px;
  top:-1px;
}
#u10752_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10752_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  display:flex;
  font-size:11px;
}
#u10753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10753_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10753.mouseDown {
}
#u10753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10752_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10752_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  display:flex;
  font-size:11px;
}
#u10754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10754_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10754.mouseDown {
}
#u10754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10755 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:-1px;
  width:211px;
  height:28px;
}
#u10755_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10755_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:28px;
  display:flex;
  font-size:11px;
}
#u10756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10756_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:28px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10756.mouseDown {
}
#u10756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10755_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10755_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:28px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:28px;
  display:flex;
  font-size:11px;
}
#u10757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10757_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:28px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u10757.mouseDown {
}
#u10757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10758 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:420px;
  width:84px;
  height:27px;
}
#u10758_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10758_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  display:flex;
}
#u10759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10759_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background:inherit;
  background-color:rgba(27, 145, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 145, 176, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10759.selected {
}
#u10759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u10760 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:5px;
  width:16px;
  height:16px;
  display:flex;
}
#u10760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10761 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:425px;
  width:74px;
  height:16px;
}
#u10761_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10761_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#1B91B0;
  text-align:right;
}
#u10762 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:52px;
  height:16px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#1B91B0;
  text-align:right;
}
#u10762 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10761_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10761_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#7F7F7F;
  text-align:right;
}
#u10763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:12px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#7F7F7F;
  text-align:right;
}
#u10763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10764 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:425px;
  width:73px;
  height:15px;
}
#u10764_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10764_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#1B91B0;
  text-align:right;
}
#u10765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:48px;
  height:12px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#1B91B0;
  text-align:right;
}
#u10765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10764_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10764_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#7F7F7F;
  text-align:right;
}
#u10766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:12px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#7F7F7F;
  text-align:right;
}
#u10766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
