body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1324.00001760938px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5596_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5596_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5596 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:89px;
  width:65px;
  height:18px;
  display:flex;
  font-size:11px;
}
#u5596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5596_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5596.disabled {
}
#u5597_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#006498;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5597_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  letter-spacing:normal;
  color:#006498;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#006498;
}
#u5597 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:89px;
  width:63px;
  height:18px;
  display:flex;
  font-size:9px;
  color:#006498;
}
#u5597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5597_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#006498;
}
#u5597.disabled {
}
#u5598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:1260px;
  height:35px;
  display:flex;
  font-size:16px;
}
#u5598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:30px;
}
#u5599 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:30px;
  display:flex;
  text-align:right;
}
#u5599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 100, 152, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u5600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
  text-align:center;
}
#u5601 {
  border-width:0px;
  position:absolute;
  left:1195px;
  top:5px;
  width:105px;
  height:23px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#D7D7D7;
  text-align:center;
}
#u5601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u5602 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:9px;
  width:9px;
  height:8px;
  display:flex;
}
#u5602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1260px;
  height:23px;
  display:flex;
}
#u5603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u5604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:55px;
  height:23px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:11px;
  color:#7F7F7F;
}
#u5604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:20px;
  background:inherit;
  background-color:rgba(234, 235, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:11px;
  color:#77A1CB;
}
#u5605 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:32px;
  width:154px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:11px;
  color:#77A1CB;
}
#u5605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5606_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:158px;
  height:7px;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:30px;
  width:154px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.0374390526951099deg);
  -moz-transform:rotate(-0.0374390526951099deg);
  -ms-transform:rotate(-0.0374390526951099deg);
  transform:rotate(-0.0374390526951099deg);
}
#u5606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5607_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1329px;
  height:7px;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:1325px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(0.00231064644317509deg);
  -moz-transform:rotate(0.00231064644317509deg);
  -ms-transform:rotate(0.00231064644317509deg);
  transform:rotate(0.00231064644317509deg);
}
#u5607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:39px;
  width:10px;
  height:11px;
  display:flex;
  color:#FFFFFF;
}
#u5608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:1px;
  width:55px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:30px;
  width:123px;
  height:80px;
  visibility:hidden;
}
#u5610_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5610_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(87, 93, 119, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:4px;
  width:122px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5613_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(87, 93, 119, 0.780392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5613.mouseOver {
}
#u5613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:10px;
  width:15px;
  height:14px;
  display:flex;
}
#u5614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(87, 93, 119, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:28px;
  width:122px;
  height:24px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u5616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5616_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(87, 93, 119, 0.780392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u5616.mouseOver {
}
#u5616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:32px;
  width:15px;
  height:14px;
  display:flex;
}
#u5617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(87, 93, 119, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:52px;
  width:122px;
  height:24px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u5619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5619_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(87, 93, 119, 0.780392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u5619.mouseOver {
}
#u5619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:57px;
  width:15px;
  height:12px;
  display:flex;
}
#u5620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:52px;
  width:122px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:11px;
  color:#7F7F7F;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:30px;
  width:130px;
  height:22px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:11px;
  color:#7F7F7F;
}
#u5622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1326px;
  height:2px;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:88px;
  width:1325px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.0051602102921918deg);
  -moz-transform:rotate(0.0051602102921918deg);
  -ms-transform:rotate(0.0051602102921918deg);
  transform:rotate(0.0051602102921918deg);
}
#u5623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5624_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:89px;
  width:465px;
  height:18px;
  display:flex;
  font-size:11px;
}
#u5624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5624_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5624.disabled {
}
#u5625_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5625_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:89px;
  width:179px;
  height:18px;
  display:flex;
  font-size:11px;
}
#u5625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5625_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5625.disabled {
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:1058px;
  height:605px;
}
#u5626_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:605px;
  overflow:auto;
}
#u5627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1325px;
  height:15px;
  background:inherit;
  background-color:rgba(234, 235, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:736px;
  width:1325px;
  height:15px;
  display:flex;
}
#u5627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 246, 200, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px -1px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px -1px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px -1px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:476px;
  width:257px;
  height:97px;
  display:flex;
}
#u5628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:456px;
  width:44px;
  height:12px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u5629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5629_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:605px;
  width:56px;
  height:24px;
  display:flex;
  font-family:'宋体 常规', '宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:613px;
  width:12px;
  height:10px;
  display:flex;
}
#u5632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:605px;
  width:56px;
  height:24px;
  display:flex;
  font-family:'宋体 常规', '宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:613px;
  width:12px;
  height:10px;
  display:flex;
}
#u5635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:605px;
  width:56px;
  height:24px;
  display:flex;
  font-family:'宋体 常规', '宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u5637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:612px;
  width:12px;
  height:10px;
  display:flex;
}
#u5638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:605px;
  width:56px;
  height:25px;
  display:flex;
  font-family:'宋体 常规', '宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u5640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:613px;
  width:13px;
  height:8px;
  display:flex;
}
#u5641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:1269px;
  top:637px;
  width:56px;
  height:25px;
  display:flex;
  font-family:'宋体 常规', '宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#FFFFFF;
}
#u5643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:645px;
  width:13px;
  height:10px;
  display:flex;
}
#u5644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5645_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:97px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5645_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:97px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:476px;
  width:256px;
  height:97px;
  display:flex;
}
#u5645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5645_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:97px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5645.disabled {
}
#u5646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:269px;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:111px;
  width:2px;
  height:269px;
  display:flex;
}
#u5646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:380px;
  width:2px;
  height:51px;
  display:flex;
}
#u5647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:269px;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:111px;
  width:255px;
  height:269px;
  display:flex;
}
#u5648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 0px rgba(0, 0, 0, 0.349019607843137);
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:380px;
  width:249px;
  height:41px;
  display:flex;
}
#u5649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:17px;
  background:inherit;
  background-color:rgba(222, 248, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:380px;
  width:249px;
  height:17px;
  display:flex;
  text-align:left;
}
#u5650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#AAAAAA;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:404px;
  width:40px;
  height:11px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#AAAAAA;
}
#u5651 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5651_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:123px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.266666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:883px;
  width:150px;
  height:123px;
  display:flex;
}
#u5652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:1110px;
  width:833px;
  height:324px;
  display:flex;
}
#u5654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:1386px;
  width:65px;
  height:24px;
  display:flex;
  font-family:'宋体 常规', '宋体', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1393px;
  width:10px;
  height:10px;
  display:flex;
}
#u5657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:231px;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:1142px;
  width:817px;
  height:231px;
  display:flex;
}
#u5658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
