body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1632px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1632px;
  height:202px;
}
#u12190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
}
#u12190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u12191 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:0px;
  width:91px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u12192 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:0px;
  width:91px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u12193 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:0px;
  width:91px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u12194 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:0px;
  width:91px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:32px;
}
#u12195 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:91px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
}
#u12196 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:0px;
  width:87px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u12197 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:0px;
  width:89px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u12198 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:0px;
  width:96px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u12199 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:0px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
}
#u12200 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:0px;
  width:113px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:32px;
}
#u12201 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:0px;
  width:84px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:32px;
}
#u12202 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:86px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u12203 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:0px;
  width:68px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u12204 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:0px;
  width:108px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
}
#u12205 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:0px;
  width:93px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
}
#u12206 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:0px;
  width:67px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u12207 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:0px;
  width:60px;
  height:32px;
  display:flex;
  font-family:'Arial Black', 'Arial Normal', 'Arial', sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:10px;
  color:#3D3E53;
}
#u12207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:146px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12209 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:32px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12210 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:32px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12211 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:32px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12212 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:32px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12213 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:32px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u12214 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:32px;
  width:87px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u12215 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:32px;
  width:89px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u12216 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:32px;
  width:96px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u12217 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:32px;
  width:80px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u12218 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:32px;
  width:113px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u12219 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:32px;
  width:84px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
}
#u12220 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:32px;
  width:86px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u12221 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:32px;
  width:68px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u12222 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:32px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u12223 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:32px;
  width:93px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
}
#u12224 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:32px;
  width:67px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:34px;
}
#u12225 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:32px;
  width:60px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:146px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12227 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:66px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12228 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:66px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12229 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:66px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12230 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:66px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12231 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:66px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u12232 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:66px;
  width:87px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u12233 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:66px;
  width:89px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u12234 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:66px;
  width:96px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u12235 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:66px;
  width:80px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u12236 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:66px;
  width:113px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u12237 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:66px;
  width:84px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
}
#u12238 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:66px;
  width:86px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u12239 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:66px;
  width:68px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u12240 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:66px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u12241 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:66px;
  width:93px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
}
#u12242 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:66px;
  width:67px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:34px;
}
#u12243 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:66px;
  width:60px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:146px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12245 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:100px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12246 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:100px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12247 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:100px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12248 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:100px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12249 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:100px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u12250 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:100px;
  width:87px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u12251 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:100px;
  width:89px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u12252 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:100px;
  width:96px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u12253 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:100px;
  width:80px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u12254 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:100px;
  width:113px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u12255 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:100px;
  width:84px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
}
#u12256 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:100px;
  width:86px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u12257 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:100px;
  width:68px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u12258 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:100px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u12259 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:100px;
  width:93px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
}
#u12260 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:100px;
  width:67px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:34px;
}
#u12261 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:100px;
  width:60px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:146px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12263 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:134px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12264 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:134px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12265 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:134px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12266 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:134px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12267 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:134px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u12268 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:134px;
  width:87px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u12269 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:134px;
  width:89px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u12270 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:134px;
  width:96px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u12271 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:134px;
  width:80px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u12272 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:134px;
  width:113px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u12273 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:134px;
  width:84px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
}
#u12274 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:134px;
  width:86px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u12275 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:134px;
  width:68px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u12276 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:134px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u12277 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:134px;
  width:93px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
}
#u12278 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:134px;
  width:67px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:34px;
}
#u12279 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:134px;
  width:60px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u12280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:146px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12281 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:168px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12282 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:168px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12283 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:168px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12284 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:168px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:34px;
}
#u12285 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:168px;
  width:91px;
  height:34px;
  display:flex;
  font-size:10px;
  color:#000000;
}
#u12285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:34px;
}
#u12286 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:168px;
  width:87px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
}
#u12287 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:168px;
  width:89px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u12288 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:168px;
  width:96px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u12289 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:168px;
  width:80px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u12290 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:168px;
  width:113px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u12291 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:168px;
  width:84px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
}
#u12292 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:168px;
  width:86px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u12293 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:168px;
  width:68px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u12294 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:168px;
  width:108px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u12295 {
  border-width:0px;
  position:absolute;
  left:1412px;
  top:168px;
  width:93px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
}
#u12296 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:168px;
  width:67px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:34px;
}
#u12297 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:168px;
  width:60px;
  height:34px;
  display:flex;
  font-size:10px;
}
#u12297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
